/* what's new模块 */

.new {
    height: 430px;
    overflow: hidden;
}

.new .left {
    float: left;
    width: 650px;
    height: 430px;
}

.new .top {
    width: 650px;
}

.new .mod_title {
    float: left;
}

.new .menu {
    float: right;
    margin-top: 30px;
    margin-bottom: 20px;
}


/* 通过点击修改类名为new_active从而改变滚动菜单样式 */

.new .menu .new_active {
    position: relative;
    color: #ea5828;
}

.new .menu .new_active::before {
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #ea5828;
    position: absolute;
    left: -8px;
    top: 6px;
}

.new .top li {
    float: left;
    margin-left: 12px;
    font-weight: bold;
    color: #4b5157;
}

.new .body_left {
    float: left;
    width: 300px;
    height: 360px;
    background-color: #fff;
}

.new .body_left .pic_box {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.new .body_left .hover_pic {
    width: 300px;
    height: 200px;
}

.new .body_left .new_pic1 {
    width: 300px;
    height: 200px;
    background: url(../图片资源/silder4378-1/astronaut.png) no-repeat;
    background-size: cover;
}

.new .body_left .new_pic2 {
    position: relative;
    width: 300px;
    height: 200px;
    background: url(../图片资源/other/personWidthVr.png) no-repeat;
    background-size: cover;
}

.new .body_left .new_pic3 {
    position: relative;
    width: 300px;
    height: 200px;
    background: url(../图片资源/LIFESTYLE/light.png) no-repeat;
    background-size: cover;
}

.new .body_left .new_pic4 {
    position: relative;
    width: 300px;
    height: 200px;
    background: url(../图片资源/LIFESTYLE/jigoerr345.png) no-repeat;
    background-size: cover;
}

.new .body_left .new_pic5 {
    position: relative;
    width: 300px;
    height: 200px;
    background: url(../图片资源/LIFESTYLE/exercise.png) no-repeat;
    background-size: cover;
}

.new .body_left .pic_title {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.new .body_left h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.new .body_left .people {
    float: left;
    color: #999999;
    font-weight: bold;
}

.new .body_left .dat {
    float: left;
    color: #a3a3a3;
    margin-left: 15px;
}

.new .body_left p {
    width: 300px;
    margin-top: 9px;
    font-size: 11px;
    /* 多行文本省略 */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new .body_right {
    float: left;
    width: 300px;
    height: 360px;
    margin-left: 30px;
}

.new .body_right .hover_box {
    width: 300px;
    height: 82px;
}

.new .body_right .hover_box:nth-child(-n+3) {
    margin-bottom: 10px;
}

.new .body_right .pic_box,
.new .body_right .detailed {
    float: left;
}

.new .body_right .pic_box {
    width: 120px;
    height: 82px;
    border-radius: 6px;
    margin-right: 10px;
    overflow: hidden;
}

.new .body_right .pic {
    width: 120px;
    height: 82px;
}

.new .body_right .pic1 {
    background: url(../图片资源/silder4378-1/woman.png);
    background-size: cover;
}

.new .body_right .pic2 {
    background: url(../图片资源/LIFESTYLE/light.png);
    background-size: cover;
}

.new .body_right .pic3 {
    background: url(../图片资源/LIFESTYLE/exercise.png);
    background-size: cover;
}

.new .body_right .pic4 {
    background: url(../图片资源/LIFESTYLE/jigoerr345.png);
    background-size: cover;
}

.new .body_right .hover_box h6 {
    margin-top: 4px;
    margin-bottom: 7px;
}

.new .body_right .hover_box .dat {
    color: #a3a3a3;
}

.new .right {
    float: right;
    width: 300px;
    height: 430px;
}


/* flex布局  */

.new .right .four_icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    float: left;
    width: 300px;
    height: 120px;
}

.new .right .four_icon div {
    float: left;
    width: 148px;
    height: 58px;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    background-color: #fff;
    padding-left: 8px;
    padding-top: 8px;
}


/* 4个图标共有样式 */

.new .right .four_icon div::before {
    display: block;
    float: left;
    font-family: icomoon;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 6px;
}

.new .right .four_icon .icon1::before {
    content: "\ea90";
    background-color: #415993;
}

.new .right .four_icon .icon2::before {
    content: "\ea94";
    background-color: #4ba1eb;
}

.new .right .four_icon .icon3::before {
    content: "\ea9d";
    background-color: #eb3323;
}

.new .right .four_icon .icon4::before {
    content: "\ea9b";
    background-color: #e26e38;
}

.new .right .ad {
    float: left;
    margin-top: 30px;
    padding-top: 20px;
    width: 300px;
    height: 200px;
    text-align: center;
    color: #fff;
    background: url(../图片资源/LIFESTYLE/blue.png);
    background-size: cover;
}

.new .right .ad button {
    width: 120px;
    height: 40px;
    color: #327df6;
    font-weight: bold;
    margin: 15px auto;
    border: 0;
    background-color: #fff;
}